.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.navbar.transparent-bg {
  background-color: transparent; 
  box-shadow: none;
}

.nav-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-logo {
  height: 65px;
  object-fit: contain;
  padding-right: 50px;
  padding-bottom: 8px;
  z-index: 1010; 
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  justify-content: right;
  width: 1100px;
}

.nav-menu li {
  cursor: pointer;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #222; 
  transition: color 0.3s ease;
}

.nav-menu li:hover {
  color: #007bff;
}

.signup-btn {
  background-color: #007bff;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  transition: all 0.3s ease;
  margin-top: 5px;
  margin-left: 30px;
  cursor: pointer;
  z-index: 1010; 
}

.signup-btn:hover {
  background-color: #005ed2;
  transform: translateY(-2px);
}
