.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  box-shadow: none;
  transition: all 0.3s ease;
}

.navbar.transparent {
  background-color: rgba(255, 255, 255, 0.05);
}

.nav-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-logo {
  height: 65px;
  object-fit: contain;
  padding-right: 40px;
  padding-bottom: 6px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  justify-content: right;
  width: 1100px;
}

.nav-menu li {
  cursor: pointer;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #1b1b1b;
  transition: color 0.3s ease;
}

.nav-menu li:hover {
  color: #007bff;
}

.signup-btn {
  background-color: #007bff;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  transition: all 0.3s ease;
  margin-top: 5px;
  margin-left: 30px;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #005ed2;
  transform: translateY(-2px);
}

@media (max-width: 992px) {
  .navbar {
    padding: 15px 30px;
  }

  .nav-menu {
    gap: 20px;
    width: auto;
  }

  .nav-logo {
    height: 55px;
  }
}
.nav-menu li {
  font-family: var(--body-font);
  font-weight: 500;
  color: #222;
}

.signup-btn {
  font-family: var(--heading-font);
  font-weight: 600;
}

